{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!--page content-->
	<div class="center">
		<br>
		<br>
		<h1>Hello! Welcome to the password generator!</h1>
		<br>
		<p>This website will use info about you to create unique, strong passwords that you can use! Please navigate to one of the pages at the top, using the navbar, to create your custom password. All of the info this site asks you for is not very personal, and you can choose not to answer any question.</p>
	</div>
{% endblock %}
